@media (max-width: 660px) {
    .container__coverage-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }
    .yearly-discount--mobile-view{
        display: block;
    }
    .yearly-discount--desktop-view{
        display: none;
    }
    .duration-selection-section__yearly-selection {
        align-items: center;
        display: flex;
        color: var(--regular-text-color);
        font-size: .8rem;
    }
    .container__coverage-section{
        gap: .5rem;
    }
    .container__feature-section{
        flex-direction: column;
        gap: 1.5rem;
    }
    .feature-section-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__submit-button{
        padding: 1rem 3rem;
    }
}

