*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kumbh Sans';
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
}
/* color section */
:root{
	--regular-text-color: #868894;
	--price-text-color: #293852;
	--submit-button-bg-color: #293852;
	--range-button-bg-color:#7BE9DE;
	--range-button-hover-bg-color: #21AEA1;
	--slider-bg-color: #7BE9DE;
	--discount-text-color: #E5A18C;
	--discount-bg-color: #FEE9E4;
	--page-top-bg-color: #F1F5FE;
	--page-bottom-bg-color: #F9FAFF;
	--container-bg-color: #FFF;
}

body{
	gap: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	place-items: center;
	min-height: 100vh;
	background-color: var(--page-bottom-bg-color);
}
body::before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100vw;
	min-height: 50vh;
	background-color: var(--page-top-bg-color);
	border-bottom-left-radius: 30%;
}


/* heading */
.pricing-heading{
  	text-align: center;
	margin: 2rem;
}
.pricing-heading-text{
	color: var(--price-text-color);
	font-size: 2.3rem;
}
.pricing-subheading-text{
	color: var(--regular-text-color);
	font-size: 1.1rem;
}


/* main container */
.container{
  	background-color: var(--container-bg-color);
  	border-radius: .5rem;
	padding: 3rem;
	margin: 1rem;
	box-shadow: 0 1.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
}

 /* pageview and price section */
.container__coverage-section{
	margin-bottom: 20px;
	display: grid;
	align-items: center;
	gap: 1.5rem;
}
/* preview section */
.coverage-section__view-section{
	grid-row: 1/2;
	font-size: 1rem;
	color: var(--regular-text-color);
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;

}
/* input range for value */
.container__coverage-section input[type='range'] {
	grid-column: 1/3;
    width: 100%;
    height: 0.5rem;
    margin: 2.25rem 0;
    border-radius: 0.5rem;
	-webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
	width: 100%;
    height: 0.5rem;
	background: linear-gradient(to right, #21AEA1 0%, #21AEA1 50%, #F1F5FE 50%, #F1F5FE 100%);
    margin: 2.25rem 0;
    border-radius: 0.5rem;
    outline: none;
    appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
    width: 2.25rem;
    height: 2.25rem;
    background: var(--range-button-bg-color);
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem .5rem var(--range-button-bg-color);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='range']::-webkit-slider-thumb:hover{
    background-color: var(--range-button-hover-bg-color);
}
input[type='range']::-webkit-slider-thumb:active{
    background-color: var(--range-button-hover-bg-color);
}

/* price section */
.coverage-section__price-section{
  	grid-row: 1/2;
}
.coverage-section__price-section #price-number{
	font-size: 2.5rem;
	font-weight: 800;
	color: var(--price-text-color);
	letter-spacing: .4rem;
}
.coverage-section__price-section .duration-text{
	color: var(--regular-text-color);
	font-weight: 400;
	font-size: 1.2rem;
}


/* monthly and yearly billing section */
.container__duration-selection-section{
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 0.75rem;
	margin: 0 0 1.5rem 0;
	position: relative;
}
.duration-selection-section__monthly-selection{
	color: var(--regular-text-color);
	font-size: .8rem;
}

.container__duration-selection-section .switch-section{
  	width: 2.75rem;
	height: 1.5rem;
	position: relative;
}
.container__duration-selection-section .switch-section .input-switcher{
	opacity: 0;
    width: 0;
    height: 0;
}

.container__duration-selection-section .switch-section .slider {
    position: absolute;
    inset: 0;
    background: var(--range-button-bg-color);
    border-radius: 1.5rem;
    transition: left .2s ease-out;
    cursor: pointer;
}
/* toggle switch button */
.container__duration-selection-section .switch-section .slider:before {
	position: absolute;
	content: "";
	width: 1rem;
    height: 1rem;
	left: 0.25rem;
	bottom: 0.38rem;
	background: var(--container-bg-color);
	border-radius: 50%;
	transition: all .2s ease-out;
}


#input-switcher:hover + .slider{
    background: var(--range-button-hover-bg-color);
}

#input-switcher:checked + .slider:before {
    transform: translate(20px); 
}

#input-switcher:checked + .slider {
    background: var(--range-button-bg-color);
}



.duration-selection-section__yearly-selection{
	color: var(--regular-text-color);
	font-size: .8rem;
	
}

.yearly-discount--mobile-view{
	display: none;
	margin-left: 10px;
	border-radius: 8px;
	padding: 5px;
	background-color: var(--discount-bg-color);
	color: var(--discount-text-color);
}

.yearly-discount--desktop-view{
	margin-left: 10px;
	display: inline;
	border-radius: 8px;
	padding: 5px;
	background-color: var(--discount-bg-color);
	color: var(--discount-text-color);
}

/* border line between feature and monthly/yearly section */
.seprate-line{
	margin-left: -48px;
    width: calc(100% + 95px);
    background-color: var(--page-top-bg-color);
    height: 0.1rem;
    content: "";
}

/* feature section */
.container__feature-section{
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
/* unorder-list style for features*/
.feature-section-list{
	flex-direction: column;
    display: flex;
    gap: 0.4rem;
    list-style: none;
}
/* list item */
.feature-section-list--item{
	align-items: center;
	gap: .5rem;
	display: flex;
}

/* submit button */
.container__submit-button{
	cursor: pointer;
	padding: 1rem 2rem;
	border-radius: 2.5rem;
	background-color: var(--submit-button-bg-color);
	color: var(--container-bg-color);
}